doctype html 
html 
head 
    title Pagina no encontrada 
    link(rel="stylesheet", "main.css")
    meta(charset="UTF-8")

body 
    h1 
        a(href="/") Regresar a los cafes del mundo 

    h2 No tenemos ese café '#{texto}'